.wrapper{
	width: 800px;
	font-family: tahoma, arial;
	font-size: 1.1em;
	margin: 0 auto;
}
.test-header {
	text-align: center;
}
.test-body{
	margin-left: 98px;
}
.ul-elem{
	list-style: none;
	line-height: 1.2em;
	padding: 0;
}
.ul-li-elem{
	font-size: .85em;
}
.ol-elem{
	line-height: 1.6em;
	margin: 0;
}
.check-button{
	display: block;
	margin: 0 auto;
	width: 324px;
	height: 50px;
	background-color: #CDE2F5;
	border: 2px solid black;
	border-radius: 2px;
	text-align: center;
	font-size: 1.1em;
}
ol {
	padding: 0;
}